:root {
    --IRIS: #4D5AE5;
    --OCEAN: #404BBF;
    --NAVYBLUE: #2E2F42;
    --WHITE: #FFF;
    --SLATE: #434455;
    --CORNFLOWER: #E7E9FC;
    --CLOUD: #F4F4FD;
}

body {
    font-family: roboto, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 2%;


}

.logo {
    text-decoration: none;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 21px; 
    letter-spacing: 0.54px;
    text-transform: uppercase;

}

.weblogo {
    color: var(--IRIS, #4D5AE5);
}

.studiologo {
    color: var(--NAVYBLUE, #2E2F42);
}

.linkpage {
    text-decoration: none;
    color: var(--NAVYBLUE, #2E2F42);
    font-weight: 500;
}

.linkpage:hover, 
.linkpage:focus {
    color: var(--OCEAN, #2E2F42)
}

.link-active {
    color: var(--OCEAN, #404BBF);
}

.contacts {
    color: var(--SLATE, #434455);
    text-decoration: none;
}

.contacts:hover,
.contacts:focus {
    color: var(--OCEAN, #404BBF);
}

.list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}



.hero-bg { 
    background: var(--NAVYBLUE, #2E2F42);
    margin: 0%;
    padding: 0%;

}

.bg-title {
    color: var(--WHITE, #FFF);
    text-align: center;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px; 
    letter-spacing: 1.12px;
    text-transform: uppercase;
    
}

.order-button {
    cursor: pointer;
    color: var(--WHITE, #FFF);
    background: var(--IRIS, #4D5AE5);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; 
    letter-spacing: 0.64px;
    
    display: inline-flex;
    padding: 16px 32px;
    align-items: flex-start;
    gap: 10px;

    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);

}

.order-button:hover,
.order-button:focus {
    color: var(--WHITE, #FFF);
    background-color: var(--OCEAN);
}