:root {
    --IRIS: #4D5AE5;
    --OCEAN: #404BBF;
    --NAVY-BLUE: #2E2F42;
    --WHITE: #FFF;
    --SLATE: #434455;
    --CORNFLOWER: #E7E9FC;
    --CLOUD: #F4F4FD;
}

body {
    font-family: roboto, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 2%;


}

.logo {
    text-decoration: none;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 21px; 
    letter-spacing: 0.54px;
    text-transform: uppercase;

}

.weblogo {
    color: var(--IRIS, #4D5AE5);
}

.studiologo {
    color: var(--NAVY-BLUE, #2E2F42);
}

.linkpage {
    text-decoration: none;
    color: var(--NAVY-BLUE, #2E2F42);
    font-weight: 500;
}

.linkpage:hover, 
.linkpage:focus {
    color: var(--ocea)
}

.contacts {
    text-transform: none;
}




.hero-bg-sec1 { 
    background: var(--NAVY-BLUE, #2E2F42);

}

.bg-sec1-title {
    color: var(--WHITE, #FFF);
    text-align: center;
    font-family: Roboto;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px; 
    letter-spacing: 1.12px;

}
.order-button {
    cursor: pointer;
    color: var(--WHITE, #FFF);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; 
    letter-spacing: 0.64px;
    border-radius: 4px;
    background: var(--IRIS, #4D5AE5);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);

}

.order-button:hover,
.order-button:focus {
    color: var(--WHITE, #FFF);2
}